@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 245, 100%, 98%;
    --background-neutral: 0, 0%, 95%;
    --foreground: 0 0% 3.9%;
    --primary-9: 248, 39%, 45%;
    --primary-8: 248, 49%, 56%;
    --primary-7: 248, 70%, 64%;
    --primary-6: 248, 100%, 72%;
    --primary-5: 247, 100%, 80%;
    --primary-4: 247, 100%, 86%;
    --primary-3: 245, 100%, 91%;
    --primary-2: 246, 100%, 96%;
    --primary-1: 245, 100%, 98%;
    --secondary-9: 240, 6%, 7%;
    --secondary-8: 240, 6%, 14%;
    --secondary-7: 240, 4%, 21%;
    --secondary-6: 240, 4%, 28%;
    --secondary-5: 240, 4%, 35%;
    --secondary-4: 240, 4%, 53%;
    --secondary-3: 240, 4%, 65%;
    --secondary-2: 240, 4%, 82%;
    --secondary-1: 240, 7%, 94%;
    --warning-2: 35, 95%, 51%;
    --warning-1: 39, 94%, 94%;
    --danger-2: 0, 79%, 56%;
    --danger-1: 0, 100%, 96%;
    --success-2: 127, 50%, 32%;
    --success-1: 123, 68%, 94%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --background-secondary: 240, 6%, 14%;
    --background-neutral: 240, 4%, 10%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
